{% load static %}
<div class="navbar-fixed">
  <nav id="top-navbar">
    <div class="nav-wrapper">
      <a href="{% url 'main:index' %}">
        <img class="brand-logo" src="{% static 'main/img/2018_logo_ava_1024.png' %}"/>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if request.user.is_authenticated %}
        <li><a class="waves-effect waves-light btn" href="{% url 'plugins:upload' %}">Upload plugins</a></li>
          <li><a href="{% url 'plugins:list' %}">Plugins</a></li>
          <li><a href="{% url 'user:profile' request.user.username %}">{{ request.user.username }}</a></li>
          <li><a href="{% url 'user:logout' %}">Sign out</a></li>
        {% else %}
          <li><a href="{% url 'plugins:list' %}">Plugins</a></li>
          <li><a href="{% url 'user:register' %}">Create account</a></li>
          <li><a href="{% url 'user:login' %}">Sign-in</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
