{% extends "layout/main.html" %}

{% load material_forms %}

{% block content %}
<div class="row">
  <div class="col s8 offset-s2 z-depth-2 grey darken-3">
    {% if validlink %}
      <h1>Change password</h1>
      <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
      <form method="post" action="">
          {% csrf_token %}
          {% error_text form.non_field_errors %}
          {% input_text form.new_password1 %}
          {% input_text form.new_password2 %}
          <center>{% submit "Change password" %}</center>
      </form>
      <br /><br />
    {% else %}
      <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset <a href="{% url 'user:password_reset' %}">here</a>.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
