{% extends "layout/main.html" %}

{% load material_forms %}

{% block content %}

<div class="row">
  <div class="col s8 offset-s2 z-depth-2 grey darken-3">
    <h1>Reset password</h1>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form method="post">
        {% csrf_token %}
        {% input_text form.email %}
        {% submit "Reset my password" %}
    </form>
    <br />
    <a href="{% url 'user:login' %}">Log-in</a><br />
    <a href="{% url 'user:register' %}">Create account</a><br /><br />
  </div>
</div>

{% endblock %}
