avasdk==0.7.0
django==1.11.4
django_compressor==2.1.1
django-contrib-comments==1.8.0
django-debug-toolbar==1.8
django-mail-templated==2.6.5
django-model-utils==2.6.1
django-nose==1.4.4
django-stdimage==2.4.1
django-taggit==0.22.1
docutils==0.13.1
gunicorn==19.7.1
markdown==2.6.8
mock==2.0.0
psycopg2==2.7.1
pyinotify==0.9.6
pytz==2017.2
raven==6.0.0
